body {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	background-color: #EEF7FB;
}

.top-bar {
	position: relative;
	height: 50px;
	width: auto;
	vertical-align: middle;
	background: #325080 url('images/topbar-bg.png') repeat-x;
}

.divLink:hover {
	cursor: pointer;
	cursor: hand;
}

.topRowElementsContainer {
	height: 100%;
	overflow: hidden;
	margin-right: 20px;
}

.topRowElement {
	height: 100%;
	float: left;
	text-align: center
}

.floater-div {
	float: left;
	height: 50%;
	width: 100%;
}

.iconRefresh {
	background: url('images/refresh_icon.png');
	position: absolute;
	top: 10px;
	left: auto;
	width: 25px;
	height: 27px;
}

.buttonsContainer {
	float: right;
	height: 100%;
	margin-right: 30px;
}

.buttonElement {
	float: right;
	height: 100%;
	margin-right: 14px;
	margin-left: 14px;
	padding-top: 2px;
}

#warningMessagesContainer {
	float: right;
	height: 100%;
	width: auto;
}

.warningMessage {
	float: right;
	height: 100%;
	line-height: 50px;
	font-size: 20px;
	color: white;
}

.sideWrapper {
	overflow: hidden;
	float: left;
	height: 100%;
	width: 350px;
	border-right: 0px solid black;
	background: #FFFFFF;
}

.sideFeedMenu {
	float: left;
	overflow-y: auto;
	width: 348px;
	height: 100%;
	border-right: 1px solid black;
}

.leftHoverArea {
	overflow: hidden;
	height: 100%;
	opacity: 0;
}

.main {
	overflow: hidden;
	height: 100%;
}

.mainTopBar {
	height: 20px;
	font: bold 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: url('images/topnav_bg.gif') repeat-x;
}

.folder_or_file_indicator {
	height: 30px;
	background: #5B82C9;
	border: 1px solid black;
	border-top: 0;
	text-align: center;
	line-height: 30px;
	color: white;
}

.dropboxLink {
	height: 65px;
	width: 300px;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	line-height: 65px;
	font-weight: normal;
	display: block;
	padding-left: 24px;
}

.actualElementList > li:hover {
	background-color: #EEF7FB;
}

.pathElement {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	width: auto;
	border-right: 1px solid black;
	height: 100%;
}

.pathElement:hover {
	color: white;
}

.actualElementList {
	list-style: none;
	padding: 0;
	margin: 0;
}

.actualElementList > li {
	list-style: none;
	height: 65px;
	width: 100%;
	border-bottom: 1px solid #D2D8DF;
	margin: 0;
}

.inset {
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
	-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
	box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}

.search-btn {
	color:white;
	border:none;
	background-color:#505050;
	height:30px;
	width:30px;
	font-size:14px;
}

.search-btn:hover {
	cursor:pointer;
	cursor:hand;
}

.btn-custom {
	-moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
	box-shadow: inset 0px 0px 0px 0px #ffffff;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color: #ededed;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	padding: 6px 13px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
}
.btn-custom:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color: #dfdfdf;
	cursor: pointer;
	cursor: hand;
}
.btn-custom:active {
	position: relative;
	top: 1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

/*
 .link-text {
 width:100%;
 padding-left:20px;
 padding-right:10px;
 text-overflow: ellipsis;
 font: 18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
 }
 */
div#login , div#logout {
	height:100%;
	line-height:50px;
	color:white;
}

div#login:hover, div#logout:hover{
	color:black;
	cursor:pointer;
	cursor:hand;
}

#project-name {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	width: 140px;
	text-align: center;
	height: auto;
	line-height: 50px;
	margin-right: 30px;
}

#project-name:hover {
	color:black;
}

#currentFolderPathContainer {
	float: left;
	height: 100%;
	width: 70%;
	padding-left: 30px;
	padding-right: 20px;
	line-height: 20px;
	overflow-x: auto;
}

#currentFolderPath {
	float: left;
}

#editor-container {
	position: absolute;
	top: 20px;
	bottom: 0px;
	left: 350px;
	right: 0px;
	margin: 0px;
	background-color: white;
}

#editor {
	height: 100%;
	width: 100%;
}

#restofDoc {
	position: absolute;
	top: 50px;
	bottom: 0;
	right: 0;
	left: 0;
}

body, ul {
	margin: 0;
}
